<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>Type</key>
			<string>Mail</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>mailto:</string>
		</dict>
		<dict>
			<key>To</key>
			<string>to</string>
		</dict>
		<dict>
			<key>Cc</key>
			<string>cc</string>
		</dict>
		<dict>
			<key>Subject</key>
			<string>subject</string>
		</dict>
		<dict>
			<key>Body</key>
			<string>body</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Type</key>
			<string>Phone</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>tel:</string>
		</dict>
		<dict>
			<key>Number</key>
			<string>phone number</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Type</key>
			<string>Messages</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>sms:</string>
		</dict>
		<dict>
			<key>Number</key>
			<string>phone number</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Type</key>
			<string>FaceTime</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>facetime://</string>
		</dict>
		<dict>
			<key>Email Address</key>
			<string>email address</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Type</key>
			<string>YouTube</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>youtube://</string>
		</dict>
		<dict>
			<key>Video Identifier</key>
			<string>video identifier</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Type</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>music://</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Type</key>
			<string>Photos</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>photos-redirect://</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Type</key>
			<string>iBooks</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>itms-books://</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Type</key>
			<string>Facebook</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>fb://</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Type</key>
			<string>Twitter</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>twitter://</string>
		</dict>
	</array>
</array>
</plist>
