<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>YouTube</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>youtube://</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Facebook</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>fb://</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Twitter</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>twitter://</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>WhatsApp</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>whatsapp://</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Instagram</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>instagram://</string>
		</dict>
		<array>
			<dict>
				<key>name</key>
				<string>Action</string>
				<key>value</key>
				<string></string>
				<key>placeholder</key>
				<string>Choose Action</string>
				<key>type</key>
				<string>Multiple</string>
			</dict>
		</array>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Tweetbot</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>tweetbot://</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Pocket</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>pocket://</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Uber</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>uber://</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Clear</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>clearapp://</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Messenger</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>fb-messenger://</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Fantastical 2</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>fantastical2://</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Lyft</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>lyft://</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Dropbox</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>dbapi-1://</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Foursquare</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>foursquare://</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Swarm</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>swarm://</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IFTTT</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>ifttt://</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Launch Center Pro</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>launch://</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Pebble</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>pebble://</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Skype</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>skype://</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Spotify</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>spotify://</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Starbucks</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>starbucks://</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>TodoMovies 3</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>todomovies3://</string>
		</dict>
	</array>
</array>
</plist>
