<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Mail</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>mailto:</string>
		</dict>
		<array>
			<dict>
				<key>name</key>
				<string>to</string>
				<key>value</key>
				<string></string>
				<key>placeholder</key>
				<string>To</string>
				<key>type</key>
				<string>email</string>
			</dict>
			<dict>
				<key>name</key>
				<string>cc</string>
				<key>value</key>
				<string></string>
				<key>placeholder</key>
				<string>Cc</string>
				<key>type</key>
				<string>email</string>
			</dict>
			<dict>
				<key>name</key>
				<string>subject</string>
				<key>value</key>
				<string></string>
				<key>placeholder</key>
				<string>Subject</string>
				<key>type</key>
				<string>string</string>
			</dict>
			<dict>
				<key>name</key>
				<string>body</string>
				<key>value</key>
				<string></string>
				<key>placeholder</key>
				<string>Body</string>
				<key>type</key>
				<string>string</string>
			</dict>
		</array>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Phone</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>tel:</string>
		</dict>
		<array>
			<dict>
				<key>name</key>
				<string>Phone Number</string>
				<key>value</key>
				<string></string>
				<key>placeholder</key>
				<string>Phone Number</string>
				<key>type</key>
				<string>Number</string>
			</dict>
		</array>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Messages</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>sms:</string>
		</dict>
		<array>
			<dict>
				<key>name</key>
				<string>Phone Number</string>
				<key>value</key>
				<string></string>
				<key>placeholder</key>
				<string>Phone Number</string>
				<key>type</key>
				<string>Number</string>
			</dict>
		</array>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>FaceTime</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>facetime://</string>
		</dict>
		<array>
			<dict>
				<key>name</key>
				<string>Email Address</string>
				<key>value</key>
				<string></string>
				<key>placeholder</key>
				<string>Email Address</string>
				<key>type</key>
				<string>email</string>
			</dict>
		</array>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Maps</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>maps://</string>
		</dict>
		<array>
			<dict>
				<key>name</key>
				<string>Query</string>
				<key>value</key>
				<string></string>
				<key>placeholder</key>
				<string>Query</string>
				<key>type</key>
				<string>String</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Source Address</string>
				<key>value</key>
				<string></string>
				<key>placeholder</key>
				<string>Source Address</string>
				<key>type</key>
				<string>String</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Destination Address</string>
				<key>value</key>
				<string></string>
				<key>placeholder</key>
				<string>Destination Address</string>
				<key>type</key>
				<string>String</string>
			</dict>
		</array>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Music</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>music://</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Photos</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>photos-redirect://</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>iBooks</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>itms-books://</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Calendar</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>calshow://</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Safari</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>http://</string>
		</dict>
		<array>
			<dict>
				<key>name</key>
				<string>Address</string>
				<key>value</key>
				<string></string>
				<key>placeholder</key>
				<string>Address</string>
				<key>type</key>
				<string>URL</string>
			</dict>
		</array>
	</array>
</array>
</plist>
